<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{asset('assets/css/bootstrap')}}">
    <title>Si, lorena es un gato sarnoso</title>
  </head>
  <body>
    -probando symfony-
    <br>
    {{var}}
    {%for person in persons%}
      {{person.nombre}}<br>
    {%endfor%}
  </body>
</html>